/*  your css code here. If applicable */
		* {
            /* margin: 0; */
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: rgb(204, 204, 204);
        }

        h1,
        h2 {
            text-align: center;
        }
        h2{
	       margin-top:0;
        }
        h5{
	      margin-bottom:0px;
	      margin-left:20px;
		  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         }

        ul {
            list-style: none;
            margin: 0px 30px;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            border: 2px solid black;
        }

        ul li a {
            text-decoration: none;
        }

        div {
            /* border: 2px solid black; */
            display: flex;
            justify-content: center;
        }

        span {
            border: 2px solid black;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
        }

        .player_one {
            height: 437px;
            padding: 25px 25px 0px 25px;
			margin-bottom:0px
        }

        .player_two {
            width: 100%;
            padding: 10px;
        }